@*@model emarket.Models.Product

@{
    ViewBag.Title = "Addtocart";
}
@using (@Html.BeginForm())
{
    <div class="container">
        <div class=" col-lg-8 col-md-8 col-sm-8">
            <img src="~/Uploads/@Model.image" style="width: 40% ;height: 20%" ; />
            <h1>product name: @Model.name</h1>
            <h2>product price: @Model.price</h2>
            <h3>desc:@Model.description</h3>

            <input type="submit" value="submit" class="btn btn-primary" id="Add"/>
        </div>
    </div>
}
    *@
